[submodule "janus/ShowMarks"]
	path = janus/ShowMarks
	url = git://github.com/VimEz/ShowMarks.git
[submodule "janus/Command-T"]
	path = janus/Command-T
	url = git://github.com/vim-scripts/Command-T.git
[submodule "janus/VimDebug"]
	path = janus/VimDebug
	url = git://github.com/kablamo/VimDebug.git
[submodule "janus/vim-powerline"]
	path = janus/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "janus/perlomni"]
	path = janus/perlomni
	url = git://github.com/c9s/perlomni.vim.git
[submodule "janus/minibufexpl.vim.git"]
	path = janus/minibufexpl.vim.git
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "janus/vim-repeat.vim"]
	path = janus/vim-repeat.vim
	url = https://github.com/tpope/vim-repeat.git
[submodule "janus/perl-support.vim.git"]
	path = janus/perl-support.vim.git
	url = https://github.com/vim-scripts/perl-support.vim.git
[submodule "janus/perlomni.vim"]
	path = janus/perlomni.vim
	url = https://github.com/c9s/perlomni.vim.git
[submodule "janus/perl-support.vim"]
	path = janus/perl-support.vim
	url = https://github.com/vim-scripts/perl-support.vim.git
[submodule "janus/vim-indent-guides"]
	path = janus/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "janus/xmledit"]
	path = janus/xmledit
	url = git://github.com/vim-scripts/xmledit.git
[submodule "a.vim"]
	path = a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "janus/a.vim"]
	path = janus/a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "janus/closetag.vim"]
	path = janus/closetag.vim
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule "Tagbar"]
	path = Tagbar
	url = git://github.com/vim-scripts/Tagbar.git
[submodule "janus/Tagbar"]
	path = janus/Tagbar
	url = git://github.com/vim-scripts/Tagbar.git
[submodule "janus/easytags.vim"]
	path = janus/easytags.vim
	url = git://github.com/vim-scripts/easytags.vim.git
[submodule "janus/TagmaTasks"]
	path = janus/TagmaTasks
	url = git://github.com/vim-scripts/TagmaTasks.git
[submodule "janus/Rainbow-Parenthesis"]
	path = janus/Rainbow-Parenthesis
	url = git://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "janus/VOoM"]
	path = janus/VOoM
	url = git://github.com/vim-scripts/VOoM.git
[submodule "janus/vim-peepopen"]
	path = janus/vim-peepopen
	url = git://github.com/mrchrisadams/vim-peepopen.git
[submodule "janus/vim-perl-xpath"]
	path = janus/vim-perl-xpath
	url = git://github.com/MrMarc/vim-perl-xpath.git
[submodule "janus/headlights"]
	path = janus/headlights
	url = git://github.com/mbadran/headlights.git
[submodule "janus/TagHighlight"]
	path = janus/TagHighlight
	url = git://github.com/vim-scripts/TagHighlight.git
[submodule "janus/cocoa"]
	path = janus/cocoa
	url = git://github.com/msanders/cocoa.vim.git
[submodule "janus/jdbvim"]
	path = janus/jdbvim
	url = git://github.com/VictorDenisov/jdbvim.git
[submodule "janus/vim-smartinput"]
	path = janus/vim-smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "janus/ultisnips"]
	path = janus/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "janus/tabular"]
	path = janus/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "janus/syntastic"]
	path = janus/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "janus/vim-qargs"]
	path = janus/vim-qargs
	url = git://github.com/nelstrom/vim-qargs.git
[submodule "janus/neocomplcache"]
	path = janus/neocomplcache
	url = git://github.com/Shougo/neocomplcache-snippets-complete.git
[submodule "janus/badwolf"]
	path = janus/badwolf
	url = git://github.com/sjl/badwolf.git
[submodule "janus/vim-gitgutter.git"]
	path = janus/vim-gitgutter.git
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "janus/vim-obsession.git"]
	path = janus/vim-obsession.git
	url = git://github.com/tpope/vim-obsession.git
