[submodule "Decho"]
	path = Decho
	url = git://github.com/vim-scripts/Decho.git
[submodule "perl-support.vim"]
	path = perl-support.vim
	url = git://github.com/vim-scripts/perl-support.vim.git
[submodule "a.vim"]
	path = a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "closetag.vim"]
	path = closetag.vim
	url = git://github.com/vim-scripts/closetag.vim.git
[submodule "Tagbar"]
	path = Tagbar
	url = git://github.com/vim-scripts/Tagbar.git
[submodule "easytags.vim"]
	path = easytags.vim
	url = git://github.com/vim-scripts/easytags.vim.git
[submodule "ShowMarks"]
	path = ShowMarks
	url = git://github.com/vim-scripts/ShowMarks.git
[submodule "TagmaTasks"]
	path = TagmaTasks
	url = git://github.com/vim-scripts/TagmaTasks.git
[submodule "TagHighlight"]
	path = TagHighlight
	url = git://github.com/vim-scripts/TagHighlight.git
[submodule "VOoM"]
	path = VOoM
	url = git://github.com/vim-scripts/VOoM.git
[submodule "minibufexpl.vim"]
	path = minibufexpl.vim
	url = git://github.com/vim-scripts/minibufexpl.vim.git
[submodule "xmledit"]
	path = xmledit
	url = git://github.com/vim-scripts/xmledit.git
[submodule "vim-peepopen"]
	path = vim-peepopen
	url = git://github.com/mrchrisadams/vim-peepopen.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = git://github.com/thanaelkane/vim-indent-guides.git
[submodule "Rainbow-Parenthesis"]
	path = Rainbow-Parenthesis
	url = git://github.com/vim-scripts/Rainbow-Parenthesis.git
